{% extends '::layout/layout.Backofice.html.twig' %}

{% block css %}
    <!-- FooTable -->
    <link href="{{ asset('css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block topcontent %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Liste Categories</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('sport_backoffice_home') }}">Dashboard</a>
            </li>

            <li class="active">
                <strong>Liste Categorie </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">

    </div>
</div>
{% endblock  %}


{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-controller="ListCategorie">


        <div class="ibox-content m-b-sm border-bottom" >
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Nom Categorie</label>
                        <input type="text" ng-model="TextSearch" ng-change="getNamecategorie(TextSearch)" placeholder="Nom Categorie" class="form-control">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <div ng-show="chargementAjout"  class="form-horizontal" style="margin: 15% 0;">

                            <div class="sk-spinner sk-spinner-chasing-dots">
                                <div class="sk-dot1"></div>
                                <div class="sk-dot2"></div>
                            </div>

                        </div>

                        <table class="footable table table-stripped toggle-arrow-tiny" ng-hide="chargementAjout" data-page-size="15">
                            <thead>
                            <tr>
                                <th data-toggle="true">Id</th>
                                <th >Nom</th>
                                <th data-hide="phone,tablet">Description</th>
                                <th data-hide="phone,tablet">Image</th>
                                <th class="text-right" data-sort-ignore="true">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="categorie in DataTableCat"  >
                                <td ng-bind="categorie.id">
                                <td ng-bind="categorie.nom">

                                </td>
                                <td  ng-bind="categorie.description" >

                                </td>
                                <td >
                                   <img src="%%categorie.img%%"  alt="%%categorie.nom%%" style="height: 20%;" class="img-thumbnail" />
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" ng-click="deltedCategorie(categorie.id)" >Supprimer</button>
                                        <button class="btn-white btn btn-xs" ng-click="openModalModif(categorie.id)">Modifier</button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>



        <!--   ////////////////////////////////////////////////////////////////////////////modale Modife//////////////////////////////////////////////////////////////////-->


          <div class="modal inmodal" id="modalModif" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content animated flipInY">

                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title">Modification</h4>
                          <small class="font-bold">Entrez les nouvelles coordonnées de la catégorie.</small>
                      </div>

                      <form method="get" class="form-horizontal" name="formModifCat">

                          <div class="modal-body" ng-init="chargementModif= false">

                              <div ng-show="chargementModif" >
                                  <h3>Chargement en cours ...</h3>
                              </div>

                              <div ng-hide="chargementModif" >

                                  <div class="form-group"><label class="col-sm-2 control-label">Nom :</label>
                                      <div class="col-sm-10">
                                          <input placeholder="Nom de la catégorie" required pattern="[a-zA-Z0-9 ]*" ng-model="txtNom" type="text" class="form-control">
                                      </div>
                                  </div>
                                  <div class="hr-line-dashed"></div>

                                  <div class="form-group"><label class="col-sm-2 control-label">Description :</label>
                                      <div class="col-sm-10">
                                          <textarea type="text" ng-model="txtDesc" placeholder="Description de la catégorie" class="form-control" rows="5"></textarea>
                                      </div>
                                  </div>
                                  <div class="hr-line-dashed"></div>

                                  <input type = "file" file-model = "photo"/>
                                  <div class="hr-line-dashed"></div>

                              </div>
                          </div>

                          <div class="modal-footer">
                              <button type="button" class="btn btn-white" data-dismiss="modal">Annuler</button>
                              <button type="button" class="btn btn-primary"  ng-disabled="isDisabled"  ng-click="modifierCategorie(formModifCat,photo)">Modifier</button>
                          </div>

                      </form>

                  </div>
              </div>
          </div>

        <!--  ////////////////////////////////////////////////////////////// END MODIFE MODALE ///////////////////////////////////////////////////////-->



    </div>


{% endblock %}

{% block javascript %}
    <!-- FooTable -->
    <script src="{{ asset('js/plugins/footable/footable.all.min.js')}}"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>
{% endblock %}

{% block angularjs %}
    <script>
        app.controller("ListCategorie",function ($scope,$http)
        {
           $scope.chargementAjout =true ;
                $scope.DataTableCat = [] ;
                $scope.TextSearch = "" ;

                $scope.getNamecategorie = function(txtNewCat){

                   if(txtNewCat == "") {

                       $scope.TextSearch = "" ;
                   }else{
                       $scope.TextSearch =   txtNewCat ;
                   }

                    $scope.ObjetSend = { txt : $scope.TextSearch } ;

                    $scope.UrlToSend = "http://localhost/tunisiasport/web/app_dev.php/backoffice/Categories/ListCategorisWeb";

                    $http.post($scope.UrlToSend, $scope.ObjetSend).then(function (reponse)  {
                       console.log(reponse.data);
                        $scope.DataTableCat = reponse.data ;
                        $scope.chargementAjout =false ;

                    }) ;

                };

            $scope.getNamecategorie($scope.TextSearch);


            $scope.openModalModif = function(id){

             //   $scope.chargementAjout =true ;

                $scope.currentIdToUpdate = id;
                $scope.currentObj = $scope.DataTableCat.filter(function (o) {
                    return  o.id==id
                })[0];

                console.log($scope.currentObj);
                $scope.txtNom = $scope.currentObj.nom;
                $scope.txtDesc = $scope.currentObj.description;

                console.log($scope.currentObj);

                console.log($scope.txtNom);
                console.log($scope.txtDesc);
                $("#modalModif").modal('show');
            };


            $scope.deltedCategorie = function(id) {

                $scope.isDisabled = true;
                $scope.chargementAjout = true;


                $scope.urlDel ="http://localhost/tunisiasport/web/app_dev.php/backoffice/Categories/suppimerCategorieweb/"+id;
                $http.post($scope.urlDel)
                    .then(function (reponse) {
                        if(reponse.data.success){
                            toastr.success(reponse.data.message,"Suppression");
                        }else{
                            toastr.error(reponse.data.message,"Suppression");
                        }
                        $scope.getNamecategorie($scope.TextSearch);
                        $("#modalDelete").modal('hide');
                    });

                $scope.isDisabled = false   ;
              //  $scope.chargementAjout = false;

                 };





            $scope.modifierCategorie = function(form,photo){

                console.log(form);
                console.log(photo);
                $scope.isDisabled = true;
                $scope.chargementAjout = true;
                if (form.$valid){

                  //  alert('id'+$scope.currentObj.id);
                    $scope.ObjectToSend = {id:$scope.currentObj.id,  nom: $scope.txtNom , desc : $scope.txtDesc } ;

                    var formAddCat = new FormData();

                    formAddCat.append("data" ,JSON.stringify( $scope.ObjectToSend));
                    formAddCat.append("photo",photo) ;

                    $scope.UrltoSend = "http://localhost/tunisiasport/web/app_dev.php/backoffice/Categories/ModiferCategorisWeb";



                    $http.post($scope.UrltoSend,formAddCat,{
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    }).then(function (reponse) {

                        if(reponse.data.success){
                            toastr.success(reponse.data.message,"Modification Catégorie");
                            $("#modalModif").modal('hide');
                            $scope.getNamecategorie($scope.TextSearch);
                        }else{
                            toastr.warning(reponse.data.message,"Modification Catégorie");

                        }

                        $scope.chargementAjout = false;
                        $scope.isDisabled = false;
                    })

                }

            }

        });

    </script>


{% endblock %}